.App {
  width: 300px;
  height: 250px;
  border: solid 1.5px black;
  border-radius: 5px;
  padding: 10px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.display {
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  font-size: 1.5rem;
}

button {
  color: red;
  font-weight: bold;
  margin: 3px;
  border: 2px dashed red;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  text-align: center;
}

button:hover {background-color: tan}

button:active {
  background-color: brown;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}